* { 
    padding: 0; 
    margin: 0; 
}

body { 
    background: #222;
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #aaa;
}

body.dragging {
    cursor: -webkit-grabbing !important;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 70px 5%;
}

.container h1 {
    color: #fff;
    display: block;
    margin: 0 0 1em 0;
    font-weight: normal;
    font-size: 30px;
}

.container p, 
.container ul li {
    margin: 0 0 1em 0;
    color: #bbb;
    font-size: 12px;
}

.container ul {
    list-style: square;
}

.nav {
    margin: 0 0 2em 0;
    font-size: 16px;
}

.container a, 
.container a:link,
.container a:visited, 
.container a:active, 
.container a:hover {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px solid #555;
    padding: 0 0 2px 0;
}

.nav-sep {
    padding: 0 5px;
}

.ie .gears-d3-canvas {
    /* ie fix :( */
    height: 768px;
}

.gears-d3-canvas svg {
    border: 1px solid #333;
    background: #252525;
    margin: 30px 0 0 0;
    overflow: hidden;
    max-width: 1024px;
    max-height: 768px;
}

.gear.dragging path,
.gear path:active {
    opacity: 0.5;
    cursor: -webkit-grabbing !important;
}

.gear path {
    cursor: move;
}

.gear:hover path {
    opacity: 0.9;
    stroke: #F6B25D;
    stroke-width: 2px;
}

.gear .bulb-path .bulb-light {
    opacity: 0;

    transition: all 800ms ease-in-out;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
}

.gear.powered path {
    fill: #FFAE21 !important;
}

.style-0 path {
    fill: #556270;
}

.style-1 path {
    fill: #4ECDC4;
}

.style-2 path {
    fill: #C7F464;
}

.style-3 path {
    fill: #FF6B6B;
}

.style-4 path {
    fill: #C44D58;
}